:root {
  --red: #8b0000;
  --white: #fff;
  --black: #000000;
  --gray: #aaaaaa;
  --yellow: #ff8c00;
  --discord-color: #5864f2;
  --linear-gray: linear-gradient(#fff 0%, #999 100%);
  --linar-pearl: linear-gradient(#fff 0%, #dedede 100%);
  --linear-red: linear-gradient(#490000 0%, #310000 100%);
  --card-bg: #1e1f22;
}

/* Fonts Georgia & Lato */
@font-face {
  font-family: "Georgia Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../font/georgiab.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("../font/Lato-Bold.ttf") format("truetype");
}

/* Main Styles */
html {
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: bold;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  color: var(--white);
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Georgia Bold", serif;
  font-size: clamp(38px, 5vw, 112px);
  color: var(--white);
  line-height: 7rem;
}

.custom-z-index {
  z-index: 1;
}

h2 {
  font-family: "Georgia Bold", serif;
  font-size: clamp(28px, 5vw, 72px);
  background: var(--linear-gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  line-height: normal;
}

h3 {
  font-family: "Georgia Bold", serif;
  font-size: clamp(24px, 5vw, 49px);
  background: var(--linar-pearl);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  line-height: normal;
}

h3.custom-title,
.custom-title-red {
  font-family: "Georgia Bold", serif;
  font-size: clamp(20px, 5vw, 29px);
  color: var(--white);
}

.custom-font-size {
  font-family: "Georgia Bold", serif;
  font-size: clamp(20px, 5vw, 29px);
}

h4 {
  font-size: 25px;
  font-weight: 400;
  color: var(--gray);
  line-height: 2.5rem;
}

span {
  color: var(--yellow);
  font-size: clamp(16px, 2vw, 20px);
  font-weight: bold;
}

.custom-p-tag {
  font-size: 19px;
}

.custom-p-tag.red {
  color: var(--red);
  font-size: 16px;
  font-weight: 400;
}

.u-text-primary {
  color: var(--white);
}

.u-text-yellow {
  color: var(--yellow);
}

.u-text-secondary {
  color: var(--gray);
}

.u-text-gradient {
  color: var(--linear-gray);
}

.u-bg-card {
  background-color: var(--card-bg);
}

.u-bg-card-gradient {
  background-image: radial-gradient(
    circle at 50% -80px,
    #405375 -300px,
    transparent 200px
  ) !important;
}

.u-bg-primary {
  background-color: var(--black);
}

.u-bg-discord {
  background-color: var(--discord-color);
}

.red-line {
  position: relative;
}

.red-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--red);
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 35px 0 35px !important;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* Fade In Animation */
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* Button Animation Effect */
.button-hover-effect {
  transition: box-shadow 0.3s ease-in-out;
}

.button-hover-effect:hover {
  animation: glow-pulse 1s infinite alternate;
}

@keyframes glow-pulse {
  from {
    box-shadow: 0px 0px 10px var(--red);
  }
  to {
    box-shadow: 0px 0px 30px var(--red);
  }
}

/* Links Hover Effect */
.links-hover-effect {
  position: relative;
  transition: transform 0.3s ease-in;
}

.a-tag-hover-effect {
  font-size: 18px;
  transition: color 0.3s ease-in;
}

.a-tag-hover-effect:hover {
  color: var(--red);
}

.links-hover-effect:hover {
  transform: translateY(4px);
}

.mobile-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobileMenu {
  position: relative;
  z-index: 100;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 40px;
  height: 28px;
  position: relative;
  z-index: 9999;
  background: none;
  border: none;
}

.menu-btn span {
  display: block;
  width: 39px;
  height: 3px;
  background: var(--white);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  background-color: var(--black);
  box-shadow: 0 0 10px var(--red);
  padding: 0 50px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  font-size: clamp(24px, 5vw, 48px);
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

#menu.active {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

#menu.closing {
  transform: translateX(100%);
  opacity: 0;
}

.menu-btn.active span:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

#menu li {
  padding: 10px 0;
  list-style: none;
}

#menu li a {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
}

/* Hero Styles */
.bg-image {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: url("../images/hero-background.webp") no-repeat center
    center/cover;
}

.bg-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  pointer-events: none;
}

.text-box {
  padding-top: 100px;
}

.box {
  border: 4px solid transparent;
  border-image-source: var(--linear-red);
  border-image-slice: 1;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  position: relative;
  width: 100%;
  max-width: auto;
  min-height: 366px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  z-index: 1;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.content-box {
  position: relative;
  transform: translateY(-100.5%);
  z-index: 100;
}

.triangles {
  position: relative;
  min-height: 50vh;
  background-image: url("../images/triangles.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;
}

.content {
  position: relative;
  z-index: 3;
}

.discord-button {
  border: 0;
  background-color: var(--discord-color);
}

.discord-button span {
  color: var(--white);
}

.responsive-bg {
  position: relative;
  width: 100%;
  height: 558px;
  background-image: url("../images/community-video-section.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top: 4px solid var(--red);
  border-bottom: 4px solid var(--red);
}

.responsive-bg.footer-bg {
  position: relative;
  width: 100%;
  height: 492.61px;
  background: linear-gradient(
      to bottom,
      rgba(73, 0, 0, 0.4) 0%,
      rgba(15, 0, 0, 0.4) 66%
    ),
    url("../images/footer-bg.webp");
  z-index: 1;
  border-bottom: 0;
}

.responsive-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.video-container {
  width: 100%;
  max-width: 711.9px;
  height: auto;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  display: block;
}

.spacing {
  padding-top: 200px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.small-spacing {
  padding-top: 200px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card.--card-red {
  border: 3px solid var(--red);
  background-color: rgba(139, 0, 0, 0.1);
}

.--card-red {
  border: 3px solid var(--red);
  background-color: rgba(139, 0, 0, 0.1);
}

.image-container {
  position: relative;
  overflow: hidden;
}

.cart-btn,
.guides-btn {
  border: 1px solid var(--red);
  padding: 10px 20px;
  color: var(--white);
  transition: background-color 0.3s ease-in-out;
}

.cart-btn:hover,
.guides-btn:hover {
  background-color: rgba(139, 0, 0, 0.3);
}

/* Tabs for Store Page */
.custom-tabs {
  display: flex;
  justify-content: start;
  width: 100%;
}

.nav-tabs-custom {
  display: flex;
  gap: 42px;
  padding: 0;
  border-bottom: none;
}

.nav-item {
  list-style: none;
  position: relative;
}

.nav-link {
  position: relative;
  font-size: 18px;
  padding: 0;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease-in-out;
}

.nav-link.active {
  color: var(--white);
}

.tab-indicator {
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 4px;
  background: linear-gradient(90deg, #490000, #310000);
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.nav-link.active .tab-indicator {
  width: 100%;
}

/* Hover Effect */
.nav-link:hover {
  color: var(--red);
}

.custom-a-tag {
  font-family: "Georgia Bold", serif;
}

.card {
  border: none;
  overflow: hidden;
  background-color: transparent;
}

.container-border {
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: var(--red);
  z-index: 1;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image-container img {
  position: relative;
  width: 100%;
  display: block;
  z-index: 1;
}

.image-container img.custom-width {
  width: 95%;
}

.item-card {
  position: relative;
  width: 180px;
  padding: 15px;
  background: #222;
  border-radius: 10px;
  text-align: center;
  color: var(--white);
  overflow: hidden;
}

.diamond {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  border: 4px solid var(--black);
  background-image: radial-gradient(#405375, #333333);
  z-index: 9;
}

.diamond-relative {
  position: inline-block;
  transform: rotate(45deg);
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  border: 1px solid var(--black);
  background-image: radial-gradient(#405375, #333333);
  z-index: 9;
  margin-right: 5px;
}

.top-border {
  top: 3px;
}
.top-diamond {
  top: 3px;
}

.bottom-border {
  bottom: 4px;
}
.bottom-diamond {
  bottom: 5px;
}

.custom-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    to right,
    transparent,
    #405375,
    transparent
  ) !important;
  margin-top: 1rem;
}

.custom-title-red::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--red),
    transparent
  ) !important;
  margin-top: 1rem;
}

.shine {
  font-size: 72px;
  font-weight: bold;
  background: linear-gradient(to right, #4d4d4d 0%, white 25%, #4d4d4d 50%);
  background-size: 300% 100%;
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  white-space: nowrap;
  display: inline-block;
}

@keyframes shine {
  0% {
    background-position: -300px;
  }
  60% {
    background-position: 300px;
  }
  100% {
    background-position: 300px;
  }
}

/* Shop Cart Styles */
.cart-sidebar {
  position: fixed;
  z-index: 100;
  top: 0;
  right: -22%;
  width: 22%;
  height: 100vh;
  background: #222;
  transition: 0.4s ease-in-out;

  display: flex;
  flex-direction: column;
}

.cart-sidebar.show {
  right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 20px;
  color: white;
  background: #333333;
  border-bottom: 2px solid var(--gray);
}

.close-cart {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.cart-items {
  flex-grow: 1;
  overflow-y: auto;
  padding: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}

.cart-item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.remove-item {
  background: #ff3300;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s;
}

.remove-item:hover {
  background: #cc0000;
}

.cart-footer {
  padding: 15px;
  background: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cart-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart-input input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #555;
  border-radius: 5px;
}

.apply-discount-btn {
  width: 100%;
  margin-top: 5px;
  background: var(--linear-gray);
  border: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.apply-discount-btn:hover {
  background: var(--black);
  color: var(--white);
}

.cart-total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.cart-terms {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.checkout-btn:disabled {
  cursor: not-allowed;
}

.checkout-btn {
  width: 100%;
  background: var(--linar-pearl);
  border: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.checkout-btn:hover {
  background: var(--black);
  color: var(--white);
}

.cart-btn,
.--red {
  background-color: var(--red);
}

/* Alerts */
.cart-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #ffcc00;
  color: black;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  z-index: 1000;
}

.cart-alert.success {
  background: #28a745;
  color: white;
}

.cart-alert.error {
  background: #dc3545;
  color: white;
}

.cart-alert.warning {
  background: #ffc107;
  color: black;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.show-alert {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Submit Button for Vote */
.submit-button {
  position: relative;
  padding: 10px 30px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 15px;
  border: 2px solid var(--red);
  background: none;
  color: var(--red);
  cursor: pointer;
  outline: none;
  transition: 200ms;
}

.submit-button:hover {
  background: var(--red);
  color: var(--white);
}

.custom-border {
  border: 1px solid transparent;
  background: var(--linear-gray);
  height: 50px;
  padding: 0 20px;
}

.custom-border p {
  color: var(--black);
}

@keyframes spin {
  80% {
    border: 2px solid transparent;
    border-left: 2px solid var(--red);
  }
  100% {
    transform: rotate(720deg);
    border: 2px solid var(--red);
  }
}

@keyframes check {
  to {
    color: var(--red);
  }
}

/* Media Sets */
@media (max-width: 1024px) {
  h1 {
    line-height: 6rem;
  }
  .container {
    padding: 0 50px 0 50px !important;
  }
  .custom-responsive {
    display: flex;
    flex-direction: column;
  }

  .cart-sidebar {
    width: 65%;
    right: -65%;
  }
}

@media (max-width: 768px) {
  h1 {
    line-height: 3rem;
  }
  .container {
    padding: 0 32px 0 32px !important;
  }

  .mobile-img-size {
    width: 120px;
    height: 70px;
  }

  .mobile-nav {
    top: 86px;
    width: 72%;
  }

  .small-img {
    width: 170px;
    height: 68px;
  }

  .responsive-bg {
    height: auto;
    padding: 32px 0;
  }

  .triangles {
    min-height: auto;
    padding: 32px 0;
  }

  .triangles {
    min-height: 65vh;
  }

  .responsive-bg.footer-bg {
    padding: 32px 0;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav-tabs-custom {
    width: 100%;
    white-space: nowrap;
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 6px;
  }

  .custom-width {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 15px 0 15px !important;
  }
  h4 {
    font-size: 18px;
    line-height: 1.5rem;
  }

  .bg-image {
    position: relative;
  }

  .nav-tabs-custom .nav-item-custom {
    padding: 8px 5px;
  }
}
